.popup__text-name {
    width: 358px;
    padding: 0 0 10px 0;
    margin: 48px 36px 25px 36px;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__text-name:focus {
    outline: none;
}

@media screen and (min-width: 366px)and (max-width: 635px) {
    .popup__text-name {
        width: 210px;
        padding: 0 0 10px 0;
        margin: 48px 36px 25px 36px;
        border: none;
        border-bottom: 2px solid #CCCCCC;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 365px) {
    .popup__text-name {
        width: 183px;
        padding: 0 0 10px 0;
        margin: 48px 36px 25px 36px;
        border: none;
        border-bottom: 2px solid #CCCCCC;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
}