.card__like-button {
    background-color: white;
    display: inline-block;
    width: 28px;
    height: 25px;
    background-image: url(../../../images/like.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 18px;
    top: 312px;
    left: 235px;
    position: absolute;
    border: 0;
}