@import url('./__button/profile-info__button.css');
@import url('./__subtitle/profile-info__subtitle.css');
@import url('./__title/profile-info__title.css');
.profile-info {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (min-width: 768px) {
    .profile-info {
        justify-content: flex-start;
        width: 336px;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .profile-info {
        justify-content: center;
        width: 282px;
        align-items: center
    }
}